In [51]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
import numpy as np
#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [52]:
# Drop non-beneficial columns
applicatio_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [53]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [54]:
#termine the  Denumber of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [55]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [56]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = [app_type for app_type, count in application_type_counts.items() if count < cutoff]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [57]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [58]:
 #You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [59]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = [cls for cls, count in classification_counts.items() if count < cutoff]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [60]:
NAME_counts = application_df['NAME'].value_counts()
print(NAME_counts)

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [61]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 50
NAME_to_replace = [cls for cls, count in NAME_counts.items() if count < cutoff]

# Replace in dataframe
for cls in NAME_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: NAME, dtype: int64

In [62]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

In [63]:
application_df_dummies.shape

(34299, 97)

In [64]:
# Split our preprocessed data into our features and target arrays
Y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [65]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [66]:
def create_model(input_dim, output_activation, hidden_layers=2, neurons=64, dropout_rate=0.1, activation='relu'):
    model = Sequential()
    model.add(Dense(neurons, input_dim=input_dim, activation=activation))
    for _ in range(hidden_layers - 1):
        model.add(Dense(neurons, activation=activation))
    model.add(Dropout(dropout_rate))
    model.add(Dense(1, activation=output_activation))
    return model

In [67]:
# Define model parameters
input_dim = 784
output_activation = 'sigmoid'
hidden_layers = 2
neurons = 64
dropout_rate = 0.2

# Create and compile the model
nn = create_model(input_dim, output_activation, hidden_layers, neurons, dropout_rate)
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [89]:
number_input_features = X_train.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=90, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation='sigmoid'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
nn.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 90)                8730

 dense_33 (Dense)            (None, 40)                3640

 dense_34 (Dense)            (None, 1)                 41

=================================================================
Total params: 12411 (48.48 KB)
Trainable params: 12411 (48.48 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [90]:
# Train the model
history = nn.fit(X_train_scaled, Y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
686/686 [==============================] - 4s 4ms/step - loss: 0.5123 - accuracy: 0.7419 - val_loss: 0.4687 - val_accuracy: 0.7770
Epoch 2/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4817 - accuracy: 0.7619 - val_loss: 0.4702 - val_accuracy: 0.7730
Epoch 3/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4784 - accuracy: 0.7636 - val_loss: 0.4692 - val_accuracy: 0.7622
Epoch 4/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4763 - accuracy: 0.7642 - val_loss: 0.4681 - val_accuracy: 0.7682
Epoch 5/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4746 - accuracy: 0.7661 - val_loss: 0.4661 - val_accuracy: 0.7742
Epoch 6/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4732 - accuracy: 0.7656 - val_loss: 0.4651 - val_accuracy: 0.7746
Epoch 7/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4723 - accuracy: 0.7673 - val_loss: 0.4636 - val_accuracy: 0.7751
Epoch 8/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4710 - accuracy: 0.7683 - val_loss: 0.4647 - val_accuracy: 0.7739
Epoch 9/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4703 - accuracy: 0.7693 - val_loss: 0.4644 - val_accuracy: 0.7772
Epoch 10/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4696 - accuracy: 0.7695 - val_loss: 0.4615 - val_accuracy: 0.7779
Epoch 11/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4684 - accuracy: 0.7696 - val_loss: 0.4618 - val_accuracy: 0.7790
Epoch 12/100
686/686 [==============================] - 2s 2ms/step - loss: 0.4677 - accuracy: 0.7699 - val_loss: 0.4634 - val_accuracy: 0.7768
Epoch 13/100
686/686 [==============================] - 3s 5ms/step - loss: 0.4668 - accuracy: 0.7690 - val_loss: 0.4615 - val_accuracy: 0.7757
Epoch 14/100
686/686 [==============================] - 4s 5ms/step - loss: 0.4662 - accuracy: 0.7704 - val_loss: 0.4637 - val_accuracy: 0.7757
Epoch 15/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4660 - accuracy: 0.7714 - val_loss: 0.4646 - val_accuracy: 0.7751
Epoch 16/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4651 - accuracy: 0.7699 - val_loss: 0.4622 - val_accuracy: 0.7744
Epoch 17/100
686/686 [==============================] - 5s 7ms/step - loss: 0.4648 - accuracy: 0.7719 - val_loss: 0.4625 - val_accuracy: 0.7757
Epoch 18/100
686/686 [==============================] - 2s 4ms/step - loss: 0.4636 - accuracy: 0.7721 - val_loss: 0.4620 - val_accuracy: 0.7781
Epoch 19/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4632 - accuracy: 0.7714 - val_loss: 0.4640 - val_accuracy: 0.7772
Epoch 20/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4628 - accuracy: 0.7731 - val_loss: 0.4645 - val_accuracy: 0.7748
Epoch 21/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4621 - accuracy: 0.7725 - val_loss: 0.4649 - val_accuracy: 0.7750
Epoch 22/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4613 - accuracy: 0.7715 - val_loss: 0.4644 - val_accuracy: 0.7742
Epoch 23/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4609 - accuracy: 0.7741 - val_loss: 0.4649 - val_accuracy: 0.7688
Epoch 24/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4599 - accuracy: 0.7740 - val_loss: 0.4644 - val_accuracy: 0.7757
Epoch 25/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4604 - accuracy: 0.7741 - val_loss: 0.4646 - val_accuracy: 0.7724
Epoch 26/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4597 - accuracy: 0.7753 - val_loss: 0.4621 - val_accuracy: 0.7759
Epoch 27/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4592 - accuracy: 0.7749 - val_loss: 0.4635 - val_accuracy: 0.7781
Epoch 28/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4581 - accuracy: 0.7741 - val_loss: 0.4620 - val_accuracy: 0.7779
Epoch 29/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4578 - accuracy: 0.7738 - val_loss: 0.4638 - val_accuracy: 0.7751
Epoch 30/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4578 - accuracy: 0.7748 - val_loss: 0.4639 - val_accuracy: 0.7737
Epoch 31/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4566 - accuracy: 0.7768 - val_loss: 0.4647 - val_accuracy: 0.7719
Epoch 32/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4562 - accuracy: 0.7775 - val_loss: 0.4624 - val_accuracy: 0.7757
Epoch 33/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4558 - accuracy: 0.7783 - val_loss: 0.4646 - val_accuracy: 0.7779
Epoch 34/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4552 - accuracy: 0.7782 - val_loss: 0.4637 - val_accuracy: 0.7757
Epoch 35/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4546 - accuracy: 0.7792 - val_loss: 0.4649 - val_accuracy: 0.7784
Epoch 36/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4547 - accuracy: 0.7789 - val_loss: 0.4643 - val_accuracy: 0.7735
Epoch 37/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4536 - accuracy: 0.7780 - val_loss: 0.4654 - val_accuracy: 0.7742
Epoch 38/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4534 - accuracy: 0.7787 - val_loss: 0.4646 - val_accuracy: 0.7748
Epoch 39/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4529 - accuracy: 0.7801 - val_loss: 0.4642 - val_accuracy: 0.7759
Epoch 40/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4528 - accuracy: 0.7783 - val_loss: 0.4633 - val_accuracy: 0.7762
Epoch 41/100
686/686 [==============================] - 3s 5ms/step - loss: 0.4519 - accuracy: 0.7805 - val_loss: 0.4677 - val_accuracy: 0.7726
Epoch 42/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4513 - accuracy: 0.7808 - val_loss: 0.4666 - val_accuracy: 0.7759
Epoch 43/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4511 - accuracy: 0.7796 - val_loss: 0.4640 - val_accuracy: 0.7777
Epoch 44/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4506 - accuracy: 0.7811 - val_loss: 0.4646 - val_accuracy: 0.7777
Epoch 45/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4499 - accuracy: 0.7793 - val_loss: 0.4699 - val_accuracy: 0.7710
Epoch 46/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4502 - accuracy: 0.7800 - val_loss: 0.4652 - val_accuracy: 0.7750
Epoch 47/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4491 - accuracy: 0.7811 - val_loss: 0.4703 - val_accuracy: 0.7770
Epoch 48/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4486 - accuracy: 0.7804 - val_loss: 0.4658 - val_accuracy: 0.7772
Epoch 49/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4484 - accuracy: 0.7799 - val_loss: 0.4676 - val_accuracy: 0.7744
Epoch 50/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4480 - accuracy: 0.7834 - val_loss: 0.4670 - val_accuracy: 0.7768
Epoch 51/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4475 - accuracy: 0.7829 - val_loss: 0.4674 - val_accuracy: 0.7728
Epoch 52/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4471 - accuracy: 0.7833 - val_loss: 0.4681 - val_accuracy: 0.7761
Epoch 53/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4466 - accuracy: 0.7830 - val_loss: 0.4664 - val_accuracy: 0.7764
Epoch 54/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4468 - accuracy: 0.7827 - val_loss: 0.4672 - val_accuracy: 0.7779
Epoch 55/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4453 - accuracy: 0.7823 - val_loss: 0.4690 - val_accuracy: 0.7755
Epoch 56/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4459 - accuracy: 0.7843 - val_loss: 0.4678 - val_accuracy: 0.7761
Epoch 57/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4450 - accuracy: 0.7841 - val_loss: 0.4696 - val_accuracy: 0.7757
Epoch 58/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4448 - accuracy: 0.7838 - val_loss: 0.4683 - val_accuracy: 0.7764
Epoch 59/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4442 - accuracy: 0.7860 - val_loss: 0.4688 - val_accuracy: 0.7764
Epoch 60/100
686/686 [==============================] - 2s 4ms/step - loss: 0.4436 - accuracy: 0.7842 - val_loss: 0.4698 - val_accuracy: 0.7755
Epoch 61/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4437 - accuracy: 0.7839 - val_loss: 0.4702 - val_accuracy: 0.7757
Epoch 62/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4432 - accuracy: 0.7853 - val_loss: 0.4705 - val_accuracy: 0.7761
Epoch 63/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4428 - accuracy: 0.7849 - val_loss: 0.4719 - val_accuracy: 0.7737
Epoch 64/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4423 - accuracy: 0.7851 - val_loss: 0.4729 - val_accuracy: 0.7719
Epoch 65/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4425 - accuracy: 0.7855 - val_loss: 0.4719 - val_accuracy: 0.7750
Epoch 66/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4419 - accuracy: 0.7856 - val_loss: 0.4699 - val_accuracy: 0.7766
Epoch 67/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4415 - accuracy: 0.7868 - val_loss: 0.4711 - val_accuracy: 0.7719
Epoch 68/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4413 - accuracy: 0.7853 - val_loss: 0.4721 - val_accuracy: 0.7719
Epoch 69/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4406 - accuracy: 0.7863 - val_loss: 0.4741 - val_accuracy: 0.7773
Epoch 70/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4405 - accuracy: 0.7861 - val_loss: 0.4766 - val_accuracy: 0.7713
Epoch 71/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4396 - accuracy: 0.7862 - val_loss: 0.4721 - val_accuracy: 0.7755
Epoch 72/100
686/686 [==============================] - 2s 4ms/step - loss: 0.4393 - accuracy: 0.7869 - val_loss: 0.4730 - val_accuracy: 0.7768
Epoch 73/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4398 - accuracy: 0.7861 - val_loss: 0.4733 - val_accuracy: 0.7775
Epoch 74/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4393 - accuracy: 0.7862 - val_loss: 0.4747 - val_accuracy: 0.7768
Epoch 75/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4389 - accuracy: 0.7873 - val_loss: 0.4716 - val_accuracy: 0.7786
Epoch 76/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4382 - accuracy: 0.7868 - val_loss: 0.4754 - val_accuracy: 0.7775
Epoch 77/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4388 - accuracy: 0.7858 - val_loss: 0.4731 - val_accuracy: 0.7761
Epoch 78/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4377 - accuracy: 0.7878 - val_loss: 0.4755 - val_accuracy: 0.7735
Epoch 79/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4379 - accuracy: 0.7873 - val_loss: 0.4744 - val_accuracy: 0.7746
Epoch 80/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4375 - accuracy: 0.7865 - val_loss: 0.4740 - val_accuracy: 0.7766
Epoch 81/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4367 - accuracy: 0.7884 - val_loss: 0.4747 - val_accuracy: 0.7739
Epoch 82/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4369 - accuracy: 0.7878 - val_loss: 0.4755 - val_accuracy: 0.7757
Epoch 83/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4361 - accuracy: 0.7896 - val_loss: 0.4767 - val_accuracy: 0.7751
Epoch 84/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4359 - accuracy: 0.7891 - val_loss: 0.4754 - val_accuracy: 0.7768
Epoch 85/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4359 - accuracy: 0.7893 - val_loss: 0.4750 - val_accuracy: 0.7751
Epoch 86/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4357 - accuracy: 0.7872 - val_loss: 0.4761 - val_accuracy: 0.7753
Epoch 87/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4353 - accuracy: 0.7884 - val_loss: 0.4780 - val_accuracy: 0.7744
Epoch 88/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4352 - accuracy: 0.7887 - val_loss: 0.4761 - val_accuracy: 0.7775
Epoch 89/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4342 - accuracy: 0.7896 - val_loss: 0.4801 - val_accuracy: 0.7731
Epoch 90/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4343 - accuracy: 0.7897 - val_loss: 0.4789 - val_accuracy: 0.7753
Epoch 91/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4341 - accuracy: 0.7883 - val_loss: 0.4771 - val_accuracy: 0.7755
Epoch 92/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4337 - accuracy: 0.7894 - val_loss: 0.4792 - val_accuracy: 0.7739
Epoch 93/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4341 - accuracy: 0.7897 - val_loss: 0.4789 - val_accuracy: 0.7710
Epoch 94/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4332 - accuracy: 0.7899 - val_loss: 0.4773 - val_accuracy: 0.7739
Epoch 95/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4333 - accuracy: 0.7896 - val_loss: 0.4789 - val_accuracy: 0.7751
Epoch 96/100
686/686 [==============================] - 3s 4ms/step - loss: 0.4326 - accuracy: 0.7903 - val_loss: 0.4787 - val_accuracy: 0.7757
Epoch 97/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4324 - accuracy: 0.7891 - val_loss: 0.4809 - val_accuracy: 0.7755
Epoch 98/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4324 - accuracy: 0.7898 - val_loss: 0.4810 - val_accuracy: 0.7730
Epoch 99/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4324 - accuracy: 0.7909 - val_loss: 0.4787 - val_accuracy: 0.7779
Epoch 100/100
686/686 [==============================] - 2s 3ms/step - loss: 0.4316 - accuracy: 0.7903 - val_loss: 0.4790 - val_accuracy: 0.7757

In [91]:
# Evaluate the model using the test data
test_loss = nn.evaluate(X_test_scaled, Y_test, verbose=1)
test_accuracy = 0.0
print(f'Test Loss: {test_loss}')
print(f'Test Accuracy: {test_accuracy}')

215/215 [==============================] - 1s 2ms/step - loss: 0.5226 - accuracy: 0.7512
Test Loss: [0.5225561857223511, 0.7511661648750305]
Test Accuracy: 0.0

In [98]:
#Save and Export
model_path2 = '/mnt/data/my_model.h5'
nn.save(model_path2)

print(f'Model saved to {model_path2}')

Model saved to /mnt/data/my_model.h5

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(